html, body {
    width: 100%;
    height: 100%;
}

*{
        padding: 0;
    margin:0;
}
body {
    background-color: #f6f6f6;
    padding: 0;
    margin:0;
}

#logo, #loginbox {
    width: 400px;
    
    position: absolute;
    top:50%;
    left:50%;
    margin:-200px
    
}

    #logo img {
        width: 215px;
        margin: 0 auto;
        display: block;
    }

#loginbox {
    /*border: 3px solid transparent;*/
    overflow: hidden !important;
    text-align: left;
    /*position:absolute;*/    
    background-color:white;
    box-shadow: 0 0 10px #b6b6b6;
    
}

    #loginbox .form-actions {
        padding: 14px 20px 15px;
    }

        #loginbox .form-actions .pull-left {
            margin-top: 0px;
        }

    #loginbox form#loginform {
        z-index: 200;
        display: block;
    }

    #loginbox form#recoverform {
        z-index: 100;
        display: none;
    }

        #loginbox form#recoverform .form-actions {
            margin-top: 27px;
        }

    #loginbox .main_input_box {
        margin: 0 auto;
        /*text-align: center;*/
    }

        #loginbox .main_input_box .add-on {
            background-color: #EEEEEE;
            border: 1px dashed #dadada;
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            /*height: 30px;*/
            line-height: 30px;
            min-width: 16px;
            padding: 4px 5px;
            text-align: center;
            text-shadow: 0 1px 0 #FFFFFF;
            width: 30px;
            float:left;
            border-right:none;
        }

        #loginbox .main_input_box input {
            height: 40px;
            line-height:20px;
            display: inline-block;
            width: 84%;
            padding-left:10px;
            border: 1px dashed #dadada;
            /*margin-bottom: 3px;*/
        }

    #loginbox .controls {
        padding: 0 20px;
    }

    #loginbox .control-group {
        padding: 20px 0;
        border-bottom: 1px solid #dadada;
        margin-bottom: 0px;
    }

.form-vertical, .form-actions {
    margin-bottom: 0;
}

#loginbox .normal_text {
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 480px) {
    #logo {
        width: 40%;
    }

    #loginbox {
        width: 90%;
    }

        #loginbox .control-group {
            padding: 8px 0;
            border-bottom: 1px solid #dadada;
            margin-bottom: 0px;
        }
}
   .remember{
       padding:0 20px 10px; 
       border-bottom: 1px solid #dadada;
   }
    .remember input{
        margin:0;
    }
    .remember label{
        display: inline-block;        
        padding-left:5px;
        margin:0;

    }

    .password{
        border-bottom:none !important;
        margin-bottom:0 !important;
        padding-bottom:10px !important;
    }